{% extends 'studentrecords/layout.html' %}

{% block title %}Списки групп{% endblock %}
{% block pagename %}Списки групп{% endblock %}


{% block content %}

{% if profile.type == 'a' or profile.type == 't' %}
<div id="filter-box" class="filter-block clearfix">
    <div class="form-group">
        <input type="number" class="form-control" id="group" placeholder="Группа">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Применить фильтр</button>
        <!--<button type="submit" class="btn btn-default">Экспорт данных</button>-->
    </div>
</div>

{% for group, students in grouplist.items %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        {% if group == None %}
            <caption style="font-size: 2em">Группа не задана</caption>
        {% else %}
            <caption style="font-size: 2em">Группа {{ group }}</caption>
        {% endif %}
        <tr>
            <th class="empty">№</th>
            <th class="empty">ФИО</th>
        </tr>
        {% for student in students %}
        <tr>
            <td class="empty">{{ forloop.counter }}</td>
            <td class="empty">
                <a href="#">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}

{% endif %}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        {% if profile.study_group == None %}
            <caption style="font-size: 2em">Группа не задана</caption>
        {% else %}
            <caption style="font-size: 2em">Группа {{ profile.study_group }}</caption>
        {% endif %}
        <tr>
            <th class="empty">№</th>
            <th class="empty">ФИО</th>
        </tr>
        {% for student in grouplist %}
        <tr>
            <td class="empty">{{ forloop.counter }}</td>
            <td class="empty">
                <a href="#">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}