{% extends 'studentrecords/layout.html' %}
{% block title %}Главная{% endblock %}
{% block pagename %}Главная{% endblock %}

{% block content %}
    <p>ИС для кафедры МО ЭВМ, отвечающая за управление студенческими данными и автоматизацию некоторых аспектов учебного процесса.</p>
    <p>Использование данной системы позволит студентам следить за своей успеваемостью и упростит сдачу отчетных материалов по предметам.</p>
    <p>Преподаватели смогут отслеживать посещения и сдачу работ по своим предметам для всех групп студентов.</p>
{% endblock %}