{% extends 'studentrecords/layout.html' %}
{% block title %}Авторизация{% endblock %}
{% block pagename %}Авторизация{% endblock %}

{% block content %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body clearfix">
            <form action="{{ login_url }}" method="post" role="form">
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input id="username" name='username' type="text" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div style="clear: both"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Войти</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
