{% extends 'layout.html' %}
{% block title %}Студенты{% endblock %}
{% block pagename %}Студенты{% endblock %}

{% block content %}


<div id="filter-box" class="filter-block clearfix">
    <div class="form-group field-container">
        <input type="text" class="form-control" id="last-name" placeholder="Фамилия">
    </div>
    <div class="form-group field-container">
        <input type="text" class="form-control" id="first-name" placeholder="Имя">
    </div>
    <div class="form-group field-container">
        <input type="text" class="form-control" id="patronymic" placeholder="Отчество">
    </div>
    <div class="form-group field-container">
        <input type="number" class="form-control" id="group" placeholder="Группа">
    </div>
    <div class="form-group field-container">
        <input type="email" class="form-control" id="e-mail" placeholder="E-mail">
    </div>
    <div class="form-group field-container">
        <input type="text" class="form-control" id="github" placeholder="Github">
    </div>
    <div class="form-group field-container">
        <input type="text" class="form-control" id="stepic" placeholder="Stepic">
    </div>
    <div class="form-group field-container">
        <button id="apply-students-filter" type="button" class="btn btn-default">Применить фильтр</button>
        <!--<button type="button" class="btn btn-default">Экспорт данных</button>-->
    </div>
</div>

{% for student in students %}
<div class="student-block" style="float: left; width: 300px">
    <div>
        <p>
            <span js-key="first_name" js-value="{{ student.first_name }}">{{ student.first_name }}</span>
            <span js-key="last_name" js-value="{{ student.last_name}}">{{ student.last_name}}</span>
            <span js-key="patronymic" js-value="{{ student.patronymic }}">{{ student.patronymic }}</span>
        </p>
    </div>
    <div>
        <p>
            <span js-key="study_group" js-value="{{ student.study_group }}">{{ student.study_group }}</span>
        </p>
    </div>
    <div>
        <p>
            <span js-key="email" js-value="{{ student.email }}">{{ student.email }}</span>
        </p>
    </div>
    <div>
        <p>
            <span js-key="github" js-value="{{ user.github_id }}">
                <a href="https://github.com/{{ user.github_id }}">Github link</a>
            </span>
        </p>
    </div>
    <div>
        <p>
            <span js-key="stepic" js-value="{{ user.stepic_id }}">
                <a href="https://stepik.org/users/{{ user.stepic_id }}">Stepic link</a>
            </span>
        </p>
    </div>
</div>

{% endfor %}

{% endblock %}