{% extends 'scientificWork/template_main.html' %}
{% block title %}Конкурсы и семинары{% endblock %}
{% block pagename %}Конкурсы и семинары{% endblock %}
{% block content %}
<div class="panel panel-default filter" id="panel_filter">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#panel_filter" href="#collapseOne" class="display-block-a">
            <h3 class="panel-title">Фильтр</h3>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse out">
        <div class="panel-body">
            <form role="form" action="competitions" method="GET">
                <div class="row">
                    <div class="col-md-3">
                        <label for="publishingHouseName">ФИО пользователя</label>
                        <input type="text" name="userName" class="form-control" placeholder="Например: Столетов">
                    </div>
                    <div class="col-md-3">
                        <label for="type">Тип </label>
                        <select id="disabledSelect" name="type" class="form-control">
                            <option value="" selected>...</option>
                            <option value="conference">Конференция</option>
                            <option value="seminar">Cеминар</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="name">Название</label>
                        <input type="text" name="name" class="form-control" placeholder="Название">
                    </div>
                    <div class="col-md-3">
                        <label for="place">Место проведения </label>
                        <input type="text" name="place" class="form-control" placeholder="Город/адрес">
                    </div>
                     <div class="col-md-3">
                        <label for="date">Дата проведения (ДД-ММ-ГГГГ)</label>
                        <input type="text" name="date" class="form-control" placeholder="26-11-2016 или 2016">
                    </div>
                    <div class="col-md-3 ">
                        <label for="rank">Ранг</label>
                        <input type="text" name="rank" class="form-control" placeholder="Ранг">
                    </div>
                    <div class="col-md-3">
                        <label for="reiteration">Вид повторения </label>
                        <select id="disabledSelect" name="reiteration" class="form-control">
                            <option value="" selected>...</option>
                            <option value="disposable">одноразовый</option>
                            <option value="repeating">повторяющийся</option>
                        </select>
                    </div>
                    <br/>

                    <div class="col-md-12 text-center filter_button">
                        <button type="submit" name="button_filter" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Применить фильтр</button>
                        <button type="submit" name="reset" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> Сбросить</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row content">
    {% if comps|length = 0 %}
    <div class="col-md-12 text-center">
        К сожалению по указанному фильтру мы не нашли подходящих данных, пожалуйста, попробуйте изменить поисковый запрос.
    </div>
    {% endif %}
    {% for comp in comps %}
        <div class="col-md-12 element">
            <div class="col-md-3">
                <strong>Пользователь</strong>
                <p>{{ comp.user.FIO }}</p>
            </div>

            <div class="col-md-3">
                <strong>Название</strong>
                <p>{{ comp.name }}</p>
            </div>
            
            <div class="col-md-3">
                <strong>Тип </strong>
                {% if comp.type == "conference" %}
                    <p>Конференция</p>
                {% elif comp.type == "seminar" %}
                    <p>Семинар</p>
                
                {% endif %}
            </div>

            <div class="col-md-3">
                <strong>Ранг</strong>
                <p>{{ comp.rank }}</p>
            </div>

            <div class="col-md-3">
                <strong>Место проведения</strong>
                <p>{{ comp.place }}</p>
            </div>

            <div class="col-md-3">
                <strong>Дата проведения</strong>
                <p>{{ comp.date|date:'d-m-Y' }}</p>
            </div>

            <div class="col-md-3">
                <strong>Вид повторения </strong>
                {% if comp.reiteration == "disposable" %}
                     <p>Одноразовый</p>
                {% elif comp.reiteration == "repeating" %}
                    <p>Повторяющийся</p>
                {% endif %}
            </div>
            
        </div>
    {% endfor %}
    <div class="col-md-12 pagination text-center">
        <span class="step-links">
            {% if comps.has_previous %}
                <a href="?page={{ comps.previous_page_number }}&userName={{ userName }}&type={{ t }}&date={{dt}}&name={{ n }}&rank={{ rk }}&place={{ p }}&reiteration={{ r }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ comps.number }} из {{ comps.paginator.num_pages }}.
            </span>

            {% if comps.has_next %}
                <a href="?page={{ comps.next_page_number }}&userName={{ userName }}&type={{ t }}&date={{dt}}&name={{ n }}&rank={{ rk }}&place={{ p }}&reiteration={{ r }}">Следующая</a>
            {% endif %}
        </span>
    </div>
</div>

    
{% endblock %}