{% extends 'scientificWork/template_main.html' %}
{% block pagename %}ИС:Научные достижения{% endblock %}
{% block content %}
    <p>Информационная система, позволяющая получить информацию о научных достижениях студентов и преподавателей кафедры.</p>
    <p>Доступна информация о различных публикациях, участии в конкурсах и семинарах, а также о научно-исследовательской деятельности. Есть возможность узнать о численности аспирантов, докторантов, соискателей и стажёров на кафедре.</p>
    <p>Код приложения, с демонстрацией представлена в github - <a href="https://github.com/dartl/IS_ScientificWork" target="_blank">https://github.com/dartl/IS_ScientificWork</a></p>
{% endblock %}