{% extends 'studentrecords/../layout.html' %}
{% block title %}Посещаемость{% endblock %}
{% block pagename %}Посещаемость{% endblock %}

{% block content %}

<div id="filter-box" class="filter-block clearfix">
    <div class="form-group field-container">
        <input type="number" class="form-control" id="group" placeholder="Группа">
    </div>
    <div class="form-group field-container">
        <button id="apply-attendance-filter" type="submit" class="btn btn-default">Применить фильтр</button>
        <!--<button type="submit" class="btn btn-default">Экспорт данных</button>-->
    </div>
</div>

<div class="panel panel-default filter attendance-table" id="panel_filter_2304">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#panel_filter_2304" href="#collapseOne_2304" class="display-block-a">
            <h3 js-key="study_group" js-value="2304"  class="panel-title">2304</h3>
        </a>
    </div>

    <div id="collapseOne_2304" class="panel-collapse collapse out">
        {% for attendance_item in attendance %}
        <div class="table-responsive">
            <table class="table table-hover">
                <caption style="font-size: 2em">Мат. анализ</caption>
                <tr>
                    <th>ФИО</th>
                    <th>01.09</th>
                    <th>08.09</th>
                    <th>15.09</th>
                    <th>22.09</th>
                    <th>29.09</th>
                    <th>Итого</th>
                </tr>
                {% for record in attendance_item.attendance_records %}
                <tr>
                    <td>Студент0Фамиля Студент0Имя Студент1Отчество</td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-remove" style="color: red"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-remove" style="color: red"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span><b> : 3</b> &NonBreakingSpace;
                        <span class="glyphicon glyphicon-remove" style="color: red"></span><b> : 2</b>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>

<div class="panel panel-default filter attendance-table" id="panel_filter_2303">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#panel_filter_2303" href="#collapseOne_2303" class="display-block-a">
            <h3 js-key="study_group" js-value="2303"  class="panel-title">2303</h3>
        </a>
    </div>

    <div id="collapseOne_2303" class="panel-collapse collapse out">
        {% for attendance_item in attendance %}
        <div class="table-responsive">
            <table class="table table-hover">
                <caption style="font-size: 2em">Мат. анализ</caption>
                <tr>
                    <th>ФИО</th>
                    <th>01.09</th>
                    <th>08.09</th>
                    <th>15.09</th>
                    <th>22.09</th>
                    <th>29.09</th>
                    <th>Итого</th>
                </tr>
                {% for record in attendance_item.attendance_records %}
                <tr>
                    <td>Студент3Фамиля Студент3Имя Студент3Отчество</td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-remove" style="color: red"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-remove" style="color: red"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" style="color: green"></span><b> : 3</b> &NonBreakingSpace;
                        <span class="glyphicon glyphicon-remove" style="color: red"></span><b> : 2</b>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}